$a-road: #00af5d;
$m-way: #004fb0;
$pale-blue: #c7e0ff;

h1 {
    text-align: center;
}

nav img {
    margin-top: -8px;
}

p.bigger {
    font-size: 1.2em;
}


/*** Roadworks panel ***/

div#roadworks-info {
    background-color: $pale-blue;
    margin-top: 20px;
    clear: both;
    padding: 6px 10px;
    color: black;
    min-height: 200px;
    overflow: auto;

    p.summary {
        text-align: center;
        font-size: 120%;
    }
}

legend {
    font-size: 16px;
}

label {
    float: left;
    width: 5em;
}

select {
    margin-bottom: 10px;
}

footer {
    padding: 10px 0 0 10px;
    border-top: 2px solid #aaa;
    background-color: #ddd;

    nav ul {
        list-style-type: none;

        li {
            float: left;
            margin-right: 20px;
        }
    }

    small {
        font-size: 80%
    }
}

article {       /* A road defaults */
    border: 5px solid white;
    border-radius: 15px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: $a-road;
    color: white;
    line-height: 16pt;

    p {
        margin: 10px 20px;
    }

    h1 {    /* Axx road name */
        color: #ffe800;
        display: block;
        font-size: 115%;
        font-weight: bold;
        margin: 10px 20px 20px 10px;
        float: left;
    }

    &.m-way {   // Motorway
        background-color: $m-way;

        h1 { color: white; }
    }

    span.date {
        color: #ff8;
    }
}

@media (max-width: 992px) {
    li.active {
        display: none;
    }

    label {
        display: none;
    }
}
