$a-road: #00af5d;
$m-way: #004fb0;
$pale-blue: #c7e0ff;

nav {
    img {
        float: left;
        margin-right: 20px;
    }

    h1 {
        text-align: center;
    }
}

/*** Roadworks panel ***/

div#roadworks-info {
    background-color: $pale-blue;
    margin-top: 20px;
    clear: both;
    padding: 6px 10px;
    color: Black;
    min-height: 200px;
    overflow: auto;

    p.summary {
        text-align: center;
        font-size: 120%;
    }
}

label {
    float: left;
    width: 6em;
}

select {
    margin-bottom: 10px;
}

footer {
    padding: 10px;
    border-top: 1px solid #aaa;
    background-color: #ddd;

    nav ul {
        list-style-type: none;

        li {
            float: left;
            margin-right: 20px;
        }
    }
}

article {       /* A road defaults */
    border: 5px solid white;
    border-radius: 15px;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: $a-road;
    color: white;
    line-height: 16pt;

    p {
        margin: 10px 20px;
    }

    h1 {    /* Axx road name */
        color: #ffe800;
        display: eblock;
        font-size: 115%;
        font-weight: bold;
        margin: 10px 20px 20px 10px;
        float: left;
    }

    &.m-way {   // Motorway
        background-color: $m-way;

        h1 { color: White; }
    }

    span.date {
        color: #ff8;
    }
}
